@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-instrument: "Instrument Sans", sans-serif;

  --background: #ffffff;
  --foreground: #171717;
  --dark-grey: #444444;
  --red: #D91A45;
  --light-grey: #656565;
  --blue: #491FD4;
  --offwhite: #FFF9F1;
  --green: #12BF74;
  --lightlightgrey: #F1F1F1;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --dark-grey: #444444;
  --red: #B6163A;
  --light-grey: #656565;
  --blue: #491FD4;
  --offwhite: #FFF9F1;
  --green: #12BF74;
  --lightlightgrey: #F1F1F1;
  --font-inter: "Inter", sans-serif;
  --font-instrument-sans: "Instrument Sans", sans-serif;

}
.font-inter {
  font-family: var(--font-inter);
}

.font-instrument {
  font-family: var(--font-instrument-sans);
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
 */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-popup .leaflet-popup-content-wrapper {
  border-radius: 8px;
  padding: 0;
overflow: hidden;
}

.custom-popup .leaflet-popup-tip {
  display: none; /* Hides the speech bubble arrow */
}

.custom-popup .leaflet-popup-content {
  margin: 0; /* Removes any default margins */
  padding: 0;
  width: auto;
}

.custom-popup .leaflet-popup-close-button {
  background-color: rgba(0, 0, 0, 0.1); /* Semi-transparent background */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1;
}